{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Registrar Empleado{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<!---->
{% if (detalle_empleado|length) %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">
        <a href="/lista-de-productos">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
        INFORMACIÓN DEL PRODUCTO
      </h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <label for="nombre_producto" class="form-label">
              Nombre del Producto
            </label>
            <br />
            {{ detalle_empleado.nombre_producto}}
          </div>
          <div class="col-md-6">
            <label for="marca_producto" class="form-label">
              Marca del Producto
            </label>
            <br />
            {{ detalle_empleado.marca_producto}}
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="cantidad" class="form-label">
              Cantidad de Productos
            </label>
            <br />
            {{ detalle_empleado.cantidad}}
          </div>
          <div class="col-md-6">
            <label for="precio_dolar" class="form-label">
              Precio en Dólares
            </label>
            <br />
            {{ detalle_empleado.precio_dolar}}
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="precio_bsd" class="form-label">
              Precio en Bólvares
            </label>
            <br />
            {{ detalle_empleado.precio_bsd}}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% else %}
<h2 class="text-center">
  No existe el Producto 😭
  <hr />
</h2>
{% endif %} {% endblock %}
